In [1]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [2]:
d1[7] = 'an integer'

In [3]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [4]:
d1['b']

[1, 2, 3, 4]

In [5]:
d1[b]

NameError: name 'b' is not defined

In [6]:
d1[b] = 7

NameError: name 'b' is not defined

In [7]:
'b' in d1

True

In [8]:
7 in d1

True

In [9]:
'an integer' in d1

False

In [10]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [11]:
del d1[7]

In [12]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [13]:
pop.d1['b']

NameError: name 'pop' is not defined

In [15]:
pop d1['b']

SyntaxError: invalid syntax (<ipython-input-15-32c622e2770b>, line 1)

ret = pop.d1['b']

In [20]:
ret = d1.pop('a')

In [21]:
d1

{'b': [1, 2, 3, 4]}

In [22]:
ret

'some value'

In [23]:
mapping = dict(zip(range(5), reversed(range(5))))

In [24]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [25]:
l = ['a', 'b', 'c', 'd', 'e']
for word in l:
    print(word)

a
b
c
d
e

In [26]:
print(word)

e

In [27]:
for word in mapping:
    print(word)

0
1
2
3
4

In [28]:
for word in mapping:
    print(mapping[word])

4
3
2
1
0

In [30]:
def f(x):
    return x + 2
f(2)

4

In [31]:
a = [1, 2, 3]
b = [1, 2, 3]
a == b

True

In [32]:
reversed(b)
a == b

True

In [33]:
print(b)

[1, 2, 3]

In [34]:
b = reversed(b)
a == b

False

In [35]:
print(b)

<list_reverseiterator object at 0x7f980189e580>

In [36]:
b = [3, 2, 1]
a == b

False

In [37]:
a = {1, 2, 3}
b = {3, 2, 1}
print(a, b)
a == b

{1, 2, 3} {1, 2, 3}

True

In [2]:
strings = ['a', 'as', 'bat', 'cat', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAT', 'DOVE', 'PYTHON']

In [16]:
states = ['Alabama', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'southcarolina##', 'West virginia?']
import re
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result
result = clean_strings(states, clean_ops)

In [5]:
result

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'Southcarolina',
 'West Virginia']

In [19]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]
ints = [4, 0, 1, 5, 6]
ints = apply_to_list(ints, lambda x: x * 2)

In [20]:
ints

[8, 0, 2, 10, 12]

In [27]:
def squares(n=10):
    print('generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [35]:
squares()

generating squares from 1 to 100

1

In [56]:
f = open('./asd.txt')
result = []
line = 0
for line in f:
    result.append(line)
result

['int\tmain(void)\n',
 '{\n',
 '\tint\ti;\n',
 '\ti = 0;\n',
 '\treturn (0);\n',
 '}\n']

In [57]:
f.close()